.header {
    height: 83px;
    display: flex;
    background-color: #121F3F;
    align-items: center;
    padding-left: 63px;
    padding-right: 30px;
    justify-content: space-between;
}

.header__info {
    display: flex;
    align-items: center;
}

.header__text {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    margin-right: 10rem;
}

.header__nav {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.header__nav-item {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.header__nav-item:hover{
    color: #BFA197;
}
.header__btn {
    outline: none;
    width: 157px;
    height: 44px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.045em;
    
}

.header__btn:hover {
    background-color: #BFA197;
}